@use "src/styles/variables" as *;

.title{
  font-size: 3rem !important;
  height: 3rem;
}
.constructor_wrapper{
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.filter_block{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.filter_option{
  display: grid;
  grid-template-rows: 5fr 2fr;
  gap: .25rem;
  padding: .25rem;
  justify-items: center;
  align-items: center;
  border: 2px solid var(--foreground);
  border-radius: .25rem;
  height: 100%;
  width: fit-content;
  min-width: 5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  background-color: var(--foreground);
  color: var(--background);
  @include default-animation;

  &>p{
    @include very-small
  }

  &>div{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
  }

  &:hover{
    background-color: var(--background);
    color: var(--foreground);
    animation: bounce 1s;
  }
}

@keyframes bounce{
  0%{
    transform: translateY(0%);
  }
  25%{
    transform: translateY(-10%);
  }

  75%{
    transform: translateY(2%);
  }
  100%{
    transform: translateY(0%);
  }
}
@media screen and (max-width: 786px) {
  .constructor_wrapper{
    grid-template-columns: 1fr;
  }
}