@use "src/styles/variables" as *;

.container{
  padding: 1rem 2rem;
  background-color: rgba(var(--color-border) , .5);
  border-radius: .5rem;
  border: 3px solid var(--color-border);
  width: 100%;
  max-width: 50rem;

}
.tab{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input_container{
  width: 100%;
  color: var(--primary);

  display: flex;
  flex-direction: column;
  gap: .25rem;

  &>label{
    @include text;

    color: var(--primary);
    display: flex;
    align-items: center;
    gap: .25rem;
  }

}
.input{

}
.radio_item{
  display: flex;
  align-items: center;
  gap: .5rem;

}
.success{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  &>svg{

    @include h1;
  }
}