@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$turquoise: #73ffc5;
$dark-green: #8d8644;

@mixin default-animation{
  transition: all .5s ease-in-out;
}

@mixin h1{font-size: 2.027rem;}
@mixin h2{font-size: 1.8rem;}
@mixin h3{font-size: 1.6rem;}
@mixin h4{font-size: 1.424rem;}
@mixin h5{font-size: 1.266rem;}
@mixin h6{font-size: 1.225rem;}
@mixin text{font-size: 1rem}
@mixin small{font-size: 0.88rem;}
@mixin very-small{font-size: 0.7rem;}