@use "../../styles/variables" as *;

.main{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.content_wrapper{
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}