@use "src/styles/variables" as *;

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: var(--radius);
}
.img{
  position: relative;
  width: 100%;
  aspect-ratio: 4/1;

}
